* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    background-color: black;
}

.fab {
    position: absolute;
    animation: fall linear forwards;
}

@keyframes fall {
    from {
        transform: translateY(-20px);
    }
    to {
        transform: translateY(100vh);
    }
}
